{% extends 'base.html.twig' %}

{% block body %}
    <div class="d-flex p-2 justify-content-center">
        <table class="table table-bordered table-sm  w-25">
            <tbody>
            <tr>
                <td>Страна пользователя</td>
                <td>{{ countryName }}</td>
            </tr>
            <tr>
                <td>Налог страны пользователя</td>
                <td>{{ countyTax }}%</td>
            </tr>
            <tr>
                <td>Цена продукта</td>
                <td>{{ productPrice }}</td>
            </tr>
            <tr>
                <td>Цена продукта с налогом</td>
                <td>{{ productPriceTax }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="d-flex p-2 justify-content-center">
        <a class="btn btn-primary" href="/" role="button">Новый расчет</a>
    </div>
{% endblock %}