{% extends 'base.html.twig' %}

{% block body %}
    <div class="d-flex p-2 justify-content-center">
    {{ form_start(buyProductForm) }}
        {{ form_widget(buyProductForm) }}
    {{ form_end(buyProductForm) }}
    </div>
{% endblock %}